.task-card-style {
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}
 
.task-card-style:hover {
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 10px;
 
}
 
.serch-field{
    display: flex;
    justify-content: center;
    background-color: #F1F1E6;
    padding:10px;
}
 
.audit-userlist-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #F1F1E6;
    padding:10px;
}
 
.select-style {
    width: 250px;
}
 
.task-content-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    overflow-x: auto;
    right: 0;
}
 
.search-field {
    display: flex;
    justify-content: center;
    background-color: #F1F1E6;
    padding: 10px;
}

.button-div{
    width: 100%;
    display: flex;
    justify-content: center;
}
 
.task-content-style {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
    background-color: #F1F1E6;
    --sb-track-color: #F1F1E6;
    --sb-thumb-color: #B10135;
    --sb-size: 15px;
    flex: 1;
}

.general-task-div {
    padding: 1em;
    width: 20%;
    min-width: 20em;
    height: 100%;
    display: flex;
    flex-direction: column;
}
 
.general-task-div>h1 {
    text-align: center;
}
 
.task-content-style::-webkit-scrollbar {
    width: var(--sb-size)
}
 
.task-content-style::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}
 
.task-content-style::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);

}
 
@supports not selector(::-webkit-scrollbar) {
    .task-content-style {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.spinner-holder-content {
    width: 100%;
    height: 100%;
    background-color: #F1F1E6;
    display: flex;
    justify-content: center;
    align-items: center;
}