.header-style{
    color: white;
    text-align: center;
    background-color: #B10135;
    font-size: 50px;
    font-style: italic;
    color: white;
    text-shadow: white 5px 0 10px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}