.register-form-container {
    width: 25%;
    height: auto;
    border: 1px solid black;
    padding-top: 30px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.33);
    box-shadow: 8px 8px 16px #B10135;
    backdrop-filter: blur(50px);
}

.register-form-style {
    max-width: fit-content;
}

.submit-login {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.register-button-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 50px;
    color: white;
    padding: 20px;
}