<<<<<<< HEAD

.homepage-layout-container {
    height: 100%;
}

.homepage-form-container {
    width: 25%;
    height: 50%;
    border: 1px solid black;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255,0.33);
    box-shadow: 0px 8px 32px 0 rgb(0,0,255,0.33);
    backdrop-filter: blur(3px);
}

.logoutButton{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

=======
.sider-style {
    height: '100vh';
    position: 'fixed';
    left: 0;
    top: 0;
    bottom: 0;
}
>>>>>>> parent of 6b5c70e (Commit)
